<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文件下载</title>
    <script src="https://polyfill.io/v3/polyfill.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <button onclick="downloadFile()">文件下载</button>
    <button onclick="downloadCorsUrl()">跨域文件下载</button>
    <script>
      function downloadFile() {
        filesaver("/download", "test.pdf");
      }

      function downloadCorsUrl() {
        filesaver(
          "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          "pic1.png"
        );
      }
    </script>
  </body>
</html>
